<div class="form-player">

  <form role="form"
        class="add-library-form"
        [formGroup]="addLibraryForm"
        #addLibraryFormId="ngForm">

    <div class="add-library-form-container">

      <h3 class="library-creation" i18n>{{ 'libraryCreation' | translate }}</h3>

      <fieldset class="fieldset-infos"> 
        <legend i18n>{{ 'informations' | translate }}</legend>

        <div formGroupName="informations">

          <br>

          <mat-form-field>
            <input required matInput i18n-placeholder placeholder="{{ 'title' | translate }}" name="title" formControlName="title">
          </mat-form-field>

          <mat-error *ngIf="(addLibraryForm.get('informations').get('title').touched || addLibraryFormId.submitted)
                            && addLibraryForm.get('informations').get('title').errors">
            <small *ngIf="addLibraryForm.get('informations').get('title').hasError('required')" i18n>
              {{ 'titleRequired' | translate }}
            </small>
          </mat-error>

          <br>

          <div class="cover">
            <img id="img-cover" src="">
            <button class="add-cover" (click)="addCover($event)">{{ 'addCover' | translate }}</button>
            <input hidden type="file" accept="image/*" id="cover-input" (change)="onCoverChange($event.target.files)">
          </div>

        </div>


      </fieldset>

      <div class="player-button">
        <div id="player"></div>
        <button mat-stroked-button color="accent" class="stop-player" i18n *ngIf="videoIsPlaying" (click)="stopPlayer()">{{ 'stopPlayer' | translate }}</button>
      </div>

      <div class="add-medias">

        <fieldset>
          <legend i18n>{{ 'addMedias' | translate }}</legend>
    
          <div formGroupName="imagesGroup">
    
            <br>
    
            <div class="uploadfilecontainer" (click)="fileInput.click()" appMediaDragNDrop (onFileDropped)="onFileDropped($event)">
              <input hidden multiple type="file" accept="image/*|video/*|audio/*" #fileInput (change)="onFileDropped($event.target.files)" formControlName="images">
            </div>
          </div>
    
        </fieldset>

        <fieldset>
          <legend i18n>{{ 'addMediasApi' | translate }}</legend>

          <div formGroupName="mediasApiGroup">

            <mat-form-field class="search-youtube-fields">
              <input matInput i18n-placeholder placeholder="{{ 'searchYoutube' | translate }}" name="searchYoutube" formControlName="searchYoutube" (keydown.enter)="$event.preventDefault()" (keyup)="searchApis($event)">
            </mat-form-field>

          </div>

          <ul class="youtube-results">

          <li class="result" *ngFor="let youtubeResult of youtubeResults">
            <img class="img-result" [src]="youtubeResult.snippet.thumbnails.default.url">
            <div class="name-play">
              <span class="name-result">{{youtubeResult.snippet.title}}</span>
              <fa-icon [icon]="faPlay" class="play-result fa-2x" (click)="playResult(youtubeResult.id.videoId)"></fa-icon>
            </div>
            <fa-icon [icon]="faPlus" class="add-result fa-2x" (click)="addResult(youtubeResult)"></fa-icon>
            
            </li>
          </ul>
        </fieldset>

      </div>

      <div class="files-list" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <div [id]="'file-' + i" class="file-item" *ngFor="let media of library.medias;let i= index" draggable="true" (dragstart)="drag(i, $event)">
          <p> {{ media.name }} </p>
          <fa-icon [icon]="faTrash" class="delete-file"
                  (click)="deleteAttachment(media)"></fa-icon>
        </div>
      </div>
      
      <div class="progress-bar-container" *ngIf="progress != null">
        <span>{{progress}} %</span>
        <div class="progress-bar" role="progressbar" [style.width.%]="progress"></div>
      </div>

      <button mat-stroked-button color="accent" class="submit-button" i18n [disabled]="!addLibraryForm.valid" (click)="addLibrary()">{{ 'submit' | translate }}</button>
    </div>
  </form>
</div>


