.reset-password-form {
    display: inline-block;
    width: 80%;
    margin-top: 13%;
    .reset-password-form-container {
      display: flex;
      flex-direction: column;
      mat-form-field {
        font-size: medium;
        input {
          font-size: medium;
          color: #115571;
        }
        input:-webkit-autofill {
          -webkit-text-fill-color: #115571;
          -webkit-transition-delay: 99999s;
          transition-delay: 99999s;
        }
      }
      mat-error {
        color: red;
        font-size: small;
      }
      div {
        button {
          margin-top: 5%;
          width: 30%;
          float: right;
          border: 1px solid #115571 !important;
        }
      }
    }
  }
  