<form role="form" (ngSubmit)="resetPassword()" class="reset-password-form" [formGroup]="resetPasswordForm" #resetPasswordFormEl="ngForm">
    <div class="reset-password-form-container">
  
      <mat-form-field>
        <input required type="password" matInput i18n-placeholder placeholder="{{ 'password' | translate }}"
          name="password" formControlName="password">
      </mat-form-field>
  
      <mat-error
        *ngIf="(resetPasswordForm.get('password').touched || resetPasswordFormEl.submitted) && resetPasswordForm.get('password').errors">
        <small *ngIf="resetPasswordForm.get('password').hasError('required')" i18n>
          {{ 'passwordRequired' | translate }}
        </small>
      </mat-error>

      <mat-form-field class="password-field">
        <input id="repeatPassword" matInput type="password" i18n-placeholder placeholder="{{ 'repeatPassword' | translate }}" name="repeatPassword" required formControlName="repeatPassword">
        <span matPrefix><fa-icon [icon]="faLock" class="icon"></fa-icon></span>
      </mat-form-field>

      <mat-error *ngIf="(resetPasswordForm.get('repeatPassword').touched || resetPasswordFormEl.submitted) && resetPasswordForm.get('repeatPassword').errors">
        <small *ngIf="resetPasswordForm.get('repeatPassword').hasError('required')" i18n>
          {{ 'passwordRequired' | translate }}
        </small>
      </mat-error>

      <mat-error *ngIf="resetPasswordFormEl.submitted">
        <small *ngIf="resetPasswordForm.hasError('validatePassword')" i18n>
          {{ 'passwordMustMatch' | translate }}
        </small>
      </mat-error>
  
      <div>
        <button mat-stroked-button color="accent" i18n>{{ 'submit' | translate }}</button>
      </div>
    </div>
</form>
  