<form role="form" (ngSubmit)="forgotPassword()" class="forgot-password-form" [formGroup]="forgotPasswordForm" #forgotPasswordFormRef="ngForm">
    <div class="forgot-password-form-container">
      <mat-form-field>
        <input type="text" required matInput i18n-placeholder placeholder="{{ 'email' | translate }}" name="email"
          formControlName="email">
      </mat-form-field>
  
      <mat-error *ngIf="(forgotPasswordForm.get('email').touched || forgotPasswordFormRef.submitted) && forgotPasswordForm.get('email').errors">
        <small *ngIf="forgotPasswordForm.get('email').hasError('required')" i18n>
          {{ 'emailRequired' | translate }}
        </small>
        <small *ngIf="forgotPasswordForm.get('email').hasError('email')" i18n>
          {{ 'emailPattern' | translate }}
        </small>
      </mat-error>
  
        <div>
            <button mat-stroked-button color="accent" i18n>{{ 'submit' | translate }}</button>
        </div>
    </div>
  </form>
  