.forgot-password-form {
    display: inline-block;
    width: 80%;
    margin-top: 13%;
    .forgot-password-form-container {
        display: flex;
        flex-direction: column;
        mat-form-field {
            font-size: medium;
            input {
                font-size: medium;
                color: #115571;
            }
            ::ng-deep .mat-form-field-flex {
                border-bottom: 1px solid #9d9d9d;
            }
            input:-webkit-autofill {
                -webkit-text-fill-color: #115571;
                -webkit-transition-delay: 99999s;
                transition-delay: 99999s;
            }
        }
        mat-error {
            color: red;
            font-size: small;
        }
        button {
            margin-top: 5%;
            width: 30%;
            float: right;
            border: 1px solid #115571 !important;
        }
    }   
}