// COLORS
$color-yellow: #FFD275;
$color-earth: #E8AE68;
$color-earth-2: #f7d5ab;
$color-coffe: #A57F60;
$color-tumbleweed: #E3A587;
$color-opal: #DB5A42;

$color-white: #FFF;
$color-black: #000;
$color-green: #269f42;
$color-green-2: #bff2cb;
$color-grey-light: #f7f7f7;
$color-grey-2: rgba(0, 0, 0, .54);
$color-grey-3: #b3b3b3;
$color-grey-4: #a3a2a2;
$color-grey-5: #d1cfcf;
$color-grey-dark: #333;

$color-blue: #1c54ad;
$color-blue-2: #3c7fe8;
$color-blue-3: #b5cef5;
