

<h3>{{ 'addSharedUsers' | translate }}</h3>

<div [formGroup]="searchGroup" class="search-group">
    <mat-form-field>
        <input matInput i18n-placeholder
                placeholder="{{ 'searchUser' | translate }}"
                name="searchUser"
                formControlName="searchUser"
                [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of suggestUsers" [value]="user.firstName + ' ' + user.lastName" (click)=addSharedUser(user)>{{user.firstName}} {{user.lastName}}</mat-option>
    </mat-autocomplete>
</div>

<div class="list-container">

    <mat-list role="list" #sharedUsersElement *ngIf="newSharedUsers" class="shared-users-list">
        <mat-list-item role="listitem" *ngFor="let user of newSharedUsers">
            <sh-secured-media [src]="user.picture | formatSrc:'profil'"
                                [type]="'image'"
                                [load]="true" 
                                [isIntersecting]="true"
                                alt="Avatar"
                                class="avatar">
            </sh-secured-media>
            &nbsp; {{user.firstName}} {{user.lastName}}
            <fa-icon [icon]="faTrash" class="delete-user fa-2x" (click)="deleteUser(user)"></fa-icon>
        </mat-list-item>
    </mat-list>
    
</div>


<button (click)="addSharedUsers()">
    {{ 'validate' | translate }}
</button>